@import url('https://fonts.googleapis.com/css2?family=Monofett&family=Rubik+Mono+One&family=Sometype+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(5, 3, 28);
    color: papayawhip;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.375rem;
    font-family: 'Sometype Mono',monospace;
    overflow: hidden;
}

.container {
    width: calc(100% - 1.25rem);
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choicesAndPoints {
    display: flex;
    gap: clamp(1.25rem, 10vw, 12.5rem);
    justify-content: center;
    position: relative;
}

.inner-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background: rgba()
}

.divider {
    position: absolute;
    bottom: .1875rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: 'Rubik Mono One',monospace;
}

#single-result {
    height: 1.875rem;
}

h1 {
    text-align: center;
    font-size: clamp(1.25rem, 3vw, 3.125rem);
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-size: clamp(1.125rem, 2.5vw, 2.5rem);
}

.points {
    text-align: center;
    font-family: 'Monofett', monospace;
    font-size: 2.5rem;
}

.inner-container > .img-container {
    width: clamp(9.375rem, 20vw, 12.5rem);
    height: clamp(9.375rem, 20vw, 12.5rem);
    background-color: papayawhip;
    border-radius: 50%;
    overflow: hidden;
}

.img-container > img {
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    width: calc(100% - 1.25rem);
    display: flex;
    gap: clamp(.625rem, 8vw, 5rem);
}

input[type="button"], button {
    width: clamp(6.25rem, 10vw, 12.5rem);
    padding: .625rem .3125rem;
    font-family: 'Rubik Mono One', monospace;
    font-size: clamp(.75rem, 1.3vw, 1.5rem);
    border-radius: .5rem;
    cursor: pointer;
}

.result {
    width: calc(100% - 1.25rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sometype Mono', monospace;
    gap: 1.25rem;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    color:rgb(5, 3, 28);
    padding: 3.125rem;
    -webkit-backdrop-filter: blur(.25rem);
    -moz-backdrop-filter: blur(.25rem);
    backdrop-filter: blur(.25rem);
    display: none;
}
.result.show {
    display: flex;
}

button {
    min-width: 9.375rem;
    background: rgba(5, 3, 28);
    color: papayawhip;
}

input[type="button"]:hover {
    background-color: rgb(249, 221, 173);
}

#single-result, #game-result {
    font-size: clamp(1rem, 2vw, 1.875rem);
    font-weight: bold;
}

footer > a {
    color: lightblue;
}